/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	letter-spacing: 0.1em;
	background-color: #000;
	color: #fff;
}

/* Scroll */

::-webkit-scrollbar {
	width: .5em;
	height: .5em;
}

::-webkit-scrollbar-thumb {
	background: #FEE600;
}

::-webkit-scrollbar-track {
	background: #fff;
}

/* Scroll */

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}



/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	display: inline-block;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

h1, h2, h3 {
	font-family: Montserrat, sans-serif;
	color: #FEE600;
	line-height: normal;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

.hide {
	display: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}


.section-wrapper {
	max-width: 100%;
	width: 1054px;
	margin: 0 auto;
}

.yellow {
	color: #FEE600;
}

.bold-text {
	font-weight: 600;
}

/* Header */

.header {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	min-width: 100%;
	padding: 18px 0;
	min-height: 80px;
	background: rgba(19, 19, 19, 0.95);
	z-index: 1000;
}






.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-logo {
	position: relative;
	max-width: 163px;
	z-index: 3;
}



.nav {
	display: flex;
}

.navigation {
	display: flex;
	position: relative;
	z-index: 3;
}

.burger {
	display: none;
}

.nav-item {
	margin-left: 42px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	position: relative;
	transition: color 0.2s ease-in-out;
}

.nav-link::before {
	content: '';
	bottom: -10px;
	left: 0;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #FEE600;
	transition: 0.2s;
	transform: scaleX(0);
}



.nav-link:hover {
	color: #FEE600;
}

.nav-link:hover:before {
	transform: scaleX(1);
}


.nav-item.active .nav-link,
.nav-item.active .nav-link:before  {
	color: #FEE600;
	transform: scaleX(1);
} 

/* Hero */

.section-hero {
	overflow-x: hidden; 
	padding-top: 148px;
	padding-bottom: 300px;
	background: #000 url(../img/bg-main.jpg) no-repeat center bottom -68px/cover
}

.hero {
	position: relative;
	text-align: center;
	max-width: 644px;
	margin: 0 auto;
}

.hero-title {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 64px;
}

.promo {
	margin-top: 15px;
}


.hero-inner {
	display: flex;
	
}

.subtitle {
	font-family: "Open Sans", sans-serif;
	line-height: 3rem;
	font-weight: 400;
	font-size: 36px;
}

.descr {
	margin-top: 10px;
}

.hero-img {
	position: absolute;
	width: 100%;
	max-width: 330px;
	max-height: 294px;
	left: 611px;
	top: 278px;
}


.wrapper-btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	max-width: 430px;
	margin: 0 auto;
	margin-top: 20px;
}

.hero-btn {
	display: inline-block;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	border-radius: 10px;
	padding: 12px 14px;
	text-decoration: none;
}

.btn-sertificate {
	
	
	border: 2px solid #fff;
	color: #fff;
	transition: all 0.3s ease-in-out ;
}



.btn-nosertificate {
	border: 2px solid #7BD61B;
	color: #7BD61B;
	transition: all 0.3s ease-in-out ;
}

.btn-sertificate:hover,
.btn-nosertificate:hover {
	color: #FEE600;
	border-color: #FEE600;
}

.shape1 {
	position: absolute;
	line-height: 1.4;
	font-size: 15px;
	color: #FEE600;
	display: flex;
	left: 0;
	bottom: 62px;
	align-items: center;
	vertical-align: middle;
	padding: 10px 15px;
	width: 204px;
	height: 57px;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #FEE600;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0;
	text-transform: initial;
	transition: all 0.2s ease-out;
}

.shape1 p {
	margin: 0 auto;
}

.shape2 {
	position: absolute;
	line-height: 1.4;
	font-size: 15px;
	color: #FEE600;
	display: flex;
	left: 228px;
	bottom: 62px;
	align-items: center;
	vertical-align: middle;
	padding: 10px 15px;
	width: 204px;
	height: 57px;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #FEE600;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0;
	text-transform: initial;
	transition: all 0.2s ease-out;
}

.shape2 p {
	margin: 0 auto;
}

/* ================= Hero ================== */
/* Social bar */

.icon-bar,
.message {
	position: fixed;
	z-index: 100002;
	right: 2%;
	bottom: 2%;
	background: rgb(37 37 37 / 65%);
	border-radius: 50px;
	font-weight: normal;
	-webkit-transform: translate(-2%, -2%);
	-ms-transform: translate(-2%, -2%);
	transform: translate(-2%, -2%);
}

.icon-bar {
	bottom: 12%;
} 

.message {
	position: fixed;
	z-index: 100002;
	background: rgb(37 37 37 / 65%);
	border-radius: 50px;
	right: 2%;
	bottom: 3%;
	transform: translate(-2%, -2%);
}

.message:before {
	content: '';
	z-index: -1;
  /*justify-content: center;
  align-items: center;*/
  right: 14%;
  bottom: 15%;
  width: 50px;
  height: 50px;
  color:gray;
  /*background: white;*/
  border-radius: 50%;
  animation: radial-pulse 1s infinite;

}
.pulse {
	position: fixed;
	
}

.social,
.message-btn {
	color: #FEE600;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
	text-decoration: none;
	width: 70px;
	height: 70px;
}

.message-btn {
	color: #7BD61B;
}


.social:before,
.message:before {
	position: absolute;
	content: '';
	width: 50px;
	height: 50px;
	border: 2px solid #FEE600;
	border-radius: 50%;
}



.social:hover:before,
.message:hover:before{
	border-style: dotted;
	border-color: #7BD61B;
	animation: rotating 5s infinite;
	animation-timing-function: linear;
}

.social:hover,
.message:hover{
	color: #7BD61B;
	text-decoration: none;
}

@keyframes rotating {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}


.message {
	color: #7BD61B;
}

.message:before {
	border-color: #7BD61B;
}

.message.active:before {
	border-color: #ff4d4d;
}

.message-btn.active {
	color: #ff4d4d;
}

.icon-bar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

@keyframes radial-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(254, 230, 0, 0.5);
	}

	100% {
		box-shadow: 0 0 0 40px rgba(123, 214, 27, 0);
	}
}

/* ============== Social bar ========= */


/* About me */

.section-aboutme {
	padding: 50px 0 70px 0;
	background: #121212 url('../img/aboutme-bg.png') no-repeat center center/cover;
}

.aboutme-inner {
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 20px;
	padding: 15px;
	background: rgb(0 0 0 / 85%);;
	border: 2px solid #FEE600;
	border-radius: 10px;
}

.aboutme-title {
	font-weight: 800;
}

.aboutme-content {
	max-width: 726px;
}

.text-list {
	margin-top: 15px;
	color: #FEE600;
}

.list-offer {
	padding: 0;
}

.list-offer li {
	list-style-type: none;
	font-size: 16px;
}

.list-offer li:before {
	color: #FEE600;
	content: "➤";
	padding-right: 10px;
}

.aboutme-quest {
	margin-top: 15px;
}

.img-avatar {
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 300px;
	height: 432px;
}

/*================= About me ================*/

/* info MarketBot */

.info-marketbot {
	padding: 50px 0;
}

.title-info-marketbot {
	text-align: right;
}

.info-marketbot-content p {
	margin-bottom: 15px;
}

.wrapper-info {
	width: 62%;
	margin: 0 auto;
	margin-right: 0;
	/* margin-top: 10px; */
	text-align: right;
}

.inner-info {
	display: flex;
	align-items: center;
}

.info-wrapper {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;

}

/*=================== info MarketBot ======================*/

/* Animate logo */

.anim-logo {
	position: relative;
}

.anim-logo::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/anim-logo.png) no-repeat center center / 98%;
	background-position-x: 10px;
}

.ring1 {
	position: relative;
	display: flex;
	align-items: center;
	vertical-align: middle;
	width: 378px;
	height: 378px;
	border: 2px solid #393939;
	border-radius: 100%;
}
.ring2 {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 305px;
	height: 305px;
	border: 2px solid #393939;
	border-radius: 100%;
}

.ring3 {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 243px;
	height: 243px;
	border: 2px solid #393939;
	border-radius: 100%;
}

.ring4 {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 183px;
	height: 183px;
	border: 2px solid #393939;
	border-radius: 100%;
}

.ring5 {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 123px;
	height: 123px;
	border: 2px solid #393939;
	border-radius: 100%;
}


.circle1 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: -14px;
	border-radius: 50%;
	background-color: #FEE600;
}

.circle2 {
	position: absolute;
	width: 25px;
	height: 25px;
	left: -12px;
	border-radius: 50%;
	background-color: #FEE600;
}

.circle3 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: -10px;
	border-radius: 50%;
	background-color: #FEE600;
}

.circle4 {
	position: absolute;
	width: 15px;
	height: 15px;
	left: -8px;
	border-radius: 50%;
	background-color: #FEE600;
}

.circle5 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: -6px;
	border-radius: 50%;
	background-color: #FEE600;
}

@keyframes spin {
	to { transform: rotate(1turn); }
}

.circle1 {
	animation: spin 5s infinite linear;
	transform-origin: 203px;
}

.circle2 {
	animation: spin 4.5s infinite linear;
	transform-origin: 164px;
}

.circle3 {
	animation: spin 4s infinite linear;
	transform-origin: 130px;
}

.circle4 {
	animation: spin 3.5s infinite linear;
	transform-origin: 98px;
}

.circle5 {
	animation: spin 3s infinite linear;
	transform-origin: 65px;
}

/*============= Animate logo =================*/


/* Trust */

.section-trust {
	position: relative;
	padding: 50px 0; 
	background-color: #121212;
}

.section-trust:after {
	content: '';
	position: absolute;
	right: 200px;
	top: 0;
	width: 24%;
	height: 100%;
	background: url(../img/robot.png) no-repeat right bottom / 100%;
}

.trust-content {
	max-width: 66%;
	margin-top: 30px;
}

.title-list {
	margin-top: 40px;
	font-size: 20px;
	color: #FEE600;
}

/*===================== Trust =====================*/

/* Work */

.section-work {
	background-color: #000;
	padding: 50px 0;
}

.work-content {
	text-align: center;
}

.item-digital {
	margin-top: 14px;
}

.item-digital-row1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-digital-row2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.item-digital-row2 .digital-wrapper {
	display: flex;
	align-items: center;
	max-width: 451px;
}


.digital-wrapper {
	display: flex;
	align-items: center;
	max-width: 380px;
	text-align: left;
}

.digital-stroke {
	margin-right: 8px;
	font-size: 70px;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 1px rgba(254, 230, 0, 0.9);
}




/* Videos */

.videos-content {
	margin-top: 50px;
}

.title-video {
	font-size: 45px;
}

.video-galery {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 30px;
}

.venobox {
	position: relative;
	margin-top: 20px;
}

.img-video {
	max-width: 368px;
	border: 2px solid #FEE600;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(40, 58, 71, 0.2);
}

.venobox:before {
	position: absolute;
	font-family: Font Awesome\ 5 Free;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: rgb(230, 25, 25);
	content: "\f144";
	font-weight: 900;
}

.venobox:after {
	width: 65px;
	height: 65px;
	border: 2px solid #ee1a24;
	position: absolute;
	content: "";
	top: 35%;
	left: 40%;
	transform: translate(-40%, -35%);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-animation-name: rot;
	animation-name: rot;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes rot {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

/* Faq */

.section-faq {
	padding: 50px 0 100px;
	margin: 0 auto;
	background: #121212 url(../img/bg-faq.jpg) no-repeat center 28px/cover;
}

.faq-title {
	text-align: center;
}

.faq-accordeon {
	margin: 0 auto;
	margin-top: 30px;
	background-color: #000;
}

.faq-item {
	margin-bottom: 5px;
	border: 1px solid #FEE600;
	border-radius: 10px;
}

.faq-item-title {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #FEE600;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.faq-item-title:hover {
	background-color: #FEE600;
	color: #000;
	border-radius: 6px;
}

.faq-input {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	appearance: none;
	
	position: absolute;
}


.faq-input:checked + .faq-text {
	display: block;
}

.faq-text {
	display: none;
	padding: 0px 15px 10px 15px;
	font-size: 16px;
}

.faq-text p {
	margin-top: 10px;
}

/*================= Faq ================*/

/* Footer */

.footer {
	padding: 25px 0;
	background-color: #000;
}

.footer-inner {
	display: flex;
	/* justify-content: space-evenly; */
	align-items: center;
}

.img-logo-footer {
	max-width: 131px;
	max-height: 36px;
}

.footer-copy {
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	color: #616161;
}

/*=================== Footer ===================*/


/*Media query*/

@media (max-width: 1260px) {
	
	.container {
		max-width: 970px;
	}

	.hero-img {
		left: 506px;
		top: 350px;
		padding-right: 10px;
	}

	.section-trust:after {
		right: 110px;
		width: 30%;
	}

	.item-digital-row1,
	.item-digital-row2 {
		flex-direction: column;
	}

}

@media (max-width: 1200px) {

	.nav-item {
		margin-left: 30px;
	}

	.hero-img {
		max-width: 278px;
	}

}

@media screen and (max-width: 992px) {

	body.lock {
		overflow: hidden;
	}

	.header {
		padding: 7px 0;
		min-height: 50px;
	}

	
	.img-logo {
		max-width: 130px;
	}
	
	.burger {
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		background: transparent;
		border: none;
		z-index: 3;
		outline: none;
	}
	
	.burger span {
		position: absolute;
		display: block;
		background-color: #FEE600;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}
	
	.burger:before,
	.burger:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #FEE600;
		transition: all 0.3s ease 0s;
	}
	
	.burger:before {
		top: 0;
	}
	
	.burger:after {
		bottom: 0;
	}

	.burger.toogle-active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.burger.toogle-active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.burger.toogle-active span {
		transform: scale(0);
	}
	
	.navigation {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		text-align: center;
		background-color: rgba(19, 19, 19, 0.95);
		transition: all 0.3s ease 0s;
		z-index: 2;
	}

	.navigation {
		display: block;
		padding: 70px 10px 20px 10px;
	}

	.navigation.toogle-active {
		top: 0;
	}

	.icon-bar.toogle-active {
		display: none;
	}



	
	.header:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1f1f1f;
		z-index: 3;
	}

	

	.nav-item {
		margin: 0 0 20px 0;
		text-transform: uppercase;
	}

	.nav-link::before {
		content: '';
		bottom: -4px;
	}

	.nav-link {
		font-size: 20px;
	}

	.section-hero {
		padding-bottom: 200px;
	}

	.wrapper-info {
		margin-top: 30px;
		width: 100%;
	}

	.anim-logo,
	.section-trust:after {
		right: 15px;
		width: 39%;
		display: none;
	}


	.section-trust:after {
		right: 15px;
		width: 39%;
	}

	.trust-content {
		max-width: 100%;
	} 

	/*=========== Hero =================*/


	

	.hero-img {
		display: none;
	}

	/*=========== About me =================*/

	.img-avatar {
		display: none;
	}

}


/*@media (max-width: 767px) and (orientation: landscape) {
	.icon-bar {
		display: none;
	}
	}*/


	@media screen and (max-width: 767px) {

		h2, 
		.title-info-marketbot {
			text-align: center;
			font-size: 40px;
		}

		.container {
			max-width: none;
		}

		.social,
		.message-btn {
			width: 64px;
			height: 64px;
			font-size: 28px;
		}

		.message:before {
			right: 12%;
			bottom: 10%;
		}

		.social:before,
		.message:before {
			width: 50px;
			height: 50px;
		}


		.header {
			min-height: 0;
			padding: 12px 0;
		}

		.hero-title {
			font-size: 50px;
		}

		.subtitle {
			font-size: 24px;
		}

		.wrapper-btn {
			justify-content: space-evenly;
		}

		.hero-btn {
			font-size: 15px;
		}

		.shape1,
		.shape2 {
			display: none;
		}

		.wrapper-info {
			width: 100%;
			text-align: left;
		} 

	}

	@media screen and (max-width: 576px) {

		h2,
		.title-info-marketbot {
			font-size: 28px;
		}

		.wrapper-btn {
			flex-direction: column;
			max-width: 216px;
		}

		.btn-sertificate {
			margin-top: 10px;
		}

		.subtitle {
			font-size: 18px;
			line-height: 1.4em;
		}

		.img-logo {
			max-width: 134px;
		}

		.section-hero {
			padding-top: 120px;
			padding-bottom: 88px;
		}

		.hero-title {
			font-size: 35px;
		}

		.descr,
		.aboutme-text,
		.wrapper-info {
			font-size: 14px;
		}



		.hero-btn {
			font-size: 13px;
		}

		.wrapper-btn {
			max-width: 210px;
		}

		.btn-nosertificate {
			font-size: 14px;
		}

		.btn-sertificate {
			display: none;
		}


		.text-list,
		.title-list {
			font-size: 16px;
		}

		.list-offer li {
			font-size: 13px;
		}

		.aboutme-quest,
		.trust-text,
		.digital-wrapper p {
			font-size: 14px;
		}

		.digital-stroke {
			font-size: 50px;
		}

		.title-video {
			font-size: 30px;
		}

		.img-video {
			max-width: 340px;
		}


		.faq-item-title {
			font-size: 16px;
		}

		.faq-text p {
			font-size: 14px;
		}

		.section-faq {
			padding-bottom: 70px;
		}

		.img-logo-footer {
			display: none;
		}

		.footer-copy {
			font-size: 10px;
		}



	}

	@media screen and (max-width: 320px) {

		.img-video {
			max-width: 300px;
		}

	}


